ch05/WcfSample/ConsoleAppClient/Service References/ThirdPartySvc/thirdpartysvc1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://nservicebus.com" elementFormDefault="qualified" targetNamespace="http://nservicebus.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12345/services/thirdpartysvc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommandServer.Messages.Commands" />
  <xs:element name="Process">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommandServer.Messages.Commands" minOccurs="0" name="request" nillable="true" type="q1:ThirdPartyCmd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommandServer.Messages.Commands" minOccurs="0" name="ProcessResult" type="q2:ThirdPartyCmdResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>