ch05/WcfSample/ConsoleAppClient/Service References/ThirdPartySvc/thirdpartysvc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommandServer.Messages.Commands" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommandServer.Messages.Commands" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ThirdPartyCmd">
    <xs:sequence>
      <xs:element minOccurs="0" name="Contents" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ThirdPartyCmd" nillable="true" type="tns:ThirdPartyCmd" />
  <xs:simpleType name="ThirdPartyCmdResponse">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK" />
      <xs:enumeration value="Rejected" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ThirdPartyCmdResponse" nillable="true" type="tns:ThirdPartyCmdResponse" />
</xs:schema>